<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Frontpage | BryanHadro.com</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Frontpage</h1>

        <section>
            <h2>WMATA</h2>

            <h3>Eastbound Trains</h3>
            <ul>
                {% for train in eastbound_trains %}
                <li>{{train.Min}} mins - {{train.DestinationName}} ({{train.Line}})</li>
                {% endfor %}
            </ul>

            <h3>Westbound Trains</h3>
            <ul>
                {% for train in westbound_trains %}
                <li>{{train.Min}} - {{train.DestinationName}} ({{train.Line}})</li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2>Calendar</h2>

            <iframe src="https://calendar.google.com/calendar/embed?mode=WEEK&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=bryan.e.hadro%40gmail.com&amp;color=%23182C57&amp;ctz=America%2FNew_York"
                    style="border-width:0"
                    width="800"
                    height="400"
                    frameborder="0"
                    scrolling="no">
            </iframe>
        </section>


    <script>
    if ("geolocation" in navigator) {
        navigator.geolocation.getCurrentPosition(function(position) {
            console.log(position.coords.latitude, position.coords.longitude);
        });
    }
    </script>
    </body>
</html>